{{!-- general nav bar settings from layout.hbs --}}

<form action="/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   
   <button type="submit">Submit</button>
</form>
<br><br>


<p>Have no username yet? Click on below button</p>
<form action="/signup" method="GET">
    <button>Sign up</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}