body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: Red;
  height: 15px;
}

.col-1 {
max-width: fit-content
}

.col-1 * {
width: 60px;
}