{{!-- views/album-views/album-create.hbs --}}
{{!-- general nav bar settings from layout.hbs --}}

<br>
<h2>Create an album</h2>
<div class="row">
  <div class="col-md-6">
    <form action="/albums/create" method="post" > 
      <div class="form-group">
        <label>Title:
          <input type="text" name="title" class="form-control" />
        </label>
      </div>
      <br>

      <div class="form-group">
        <label>Artists:
          <input type="text" name="artist" class="form-control" /> 
        </label>
      </div>
      <br>

      <div class="form-group">
        <label>Label:
          <input type="text" name="label" class="form-control" /> 
        </label>
      </div>
      <br>

      <div class="form-group">
        <label>Catalog Number:
          <input type="text" name="catalog" class="form-control" /> 
        </label>
      </div>
      <br>

      <div class="form-group">
        <label>Genre:
          <input type="text" name="genre" class="form-control" /> 
        </label>
      </div>
      <br>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>